.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid ;
  border-bottom-color: rgb(226, 226, 226);
  z-index: 100;
}
.leftSection {
  display: flex;
  align-items: center;
}
.middleSection {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 480px;
  display: flex;
  align-items: center;
}
.rightSection {
  margin-right: 22px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.hamburgerMenu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtubeLogo {
  height: 20px;
}
.searchButton{
  height: 40px;
  width: 66px;
  background-attachment: rgb(207, 207, 207);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}


.searchButton, 
.voiceSearchButton, 
.uploadIconContainer, 
.YTAppsIconContainer,
.notifyIconsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.voiceSearchButton .tooltip,
.searchButton .tooltip, 
.uploadIconContainer .tooltip ,
.notifyIconsContainer .tooltip,
.YTAppsIconContainer .tooltip{
  position:absolute;
  background-color: grey;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, Arial;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  white-space: nowrap;
  pointer-events: none;
}

.searchButton:hover .tooltip,
.notifyIconsContainer:hover .tooltip,
.voiceSearchButton:hover .tooltip, 
.uploadIconContainer:hover .tooltip,
.YTAppsIconContainer:hover .tooltip {
  opacity: 1;
}

.voiceSearchButton {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 237, 237);
}
.searchBar {
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.searchBar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.searchIcon {
  height: 25px;
}
.voiceSearchIcon {
  height: 24px;
}

.uploadIcon {
  height: 24px;
}
.youtubeAppsIcon {
  height: 24px;
}
.notificationsIcon {
  height: 24px;
}
.currentUserPicture {
  height: 32px;
  border-radius: 16px;
}
.notificationsIconContainer{
  position: relative;

}
.notificationsIconCount {
  position: absolute;
  top: -1px;
  right: -3px;
  background-color: rgb(204, 0, 0);
  color: white;
  font-family: Robot, Arial;
  font-size: 10px;
  padding-left: 5px ;
  padding-right: 5px ;
  padding-top: 2px ;
  padding-bottom: 2px ;
  border-radius: 10px;
}